* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h3 {
  align-items: center;
  padding-left: 600px;
  margin-top: 30px;
}
.parent {
  height: 400px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blueviolet;
  border: 1px solid black;
  margin: 40px auto;
}
.child {
  height: 300px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: orangered;
  border: 1px solid black;
  /* margin: 40px auto; */
}
.subchild {
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(128, 0, 0, 0.705);
  border: 1px solid black;
  margin: 40px auto;
}
