* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main_content1 {
  height: 100%;
  width: 650px;
  /* display: flex;
    flex-direction: column; */
}

.service1 {
  height: 650px;
  width: auto;
  background-color: rgba(137, 43, 226, 0.548);
  display: flex;
  flex-direction: column;
  text-align: end;
  padding: 100px 60px 0px 0px;
  position: relative;
}

.jay2 {
  margin-top: 20px;
}
.design2 {
  margin-top: 30px;
}
.p2 {
  margin-top: 30px;
}

.my2 {
  margin-bottom: 30px;
  font-size: 2rem;
  color: white;
}

.web3 {
  margin-bottom: 10px;
  color: blanchedalmond;
}

.print2 {
  margin-bottom: 10px;
  color: rgb(59, 45, 22);
}

.jay1 {
  margin-bottom: 10px;
  color: blanchedalmond;
}

.icon {
  position: absolute;
  left: 625px;
  top: 220px;
  border: 1px solid black;
  height: 50px;
  width: 50px;
  color: brown;
  padding: 12px;
  font-size: 1.5rem;
  border-radius: 50%;
  background-color: bisque;
  z-index: 1;
}
.icon1 {
  position: absolute;
  left: 625px;
  top: 340px;
  border: 1px solid black;
  height: 50px;
  width: 50px;
  color: brown;
  font-size: 1.5rem;
  border-radius: 50%;
  background-color: bisque;
  padding: 12px;
  z-index: 1;
}
.icon2 {
  position: absolute;
  left: 625px;
  top: 455px;
  border: 1px solid black;
  height: 50px;
  width: 50px;
  color: brown;
  font-size: 1.5rem;
  border-radius: 50%;
  background-color: bisque;
  padding: 12px;
  z-index: 1;
}
p {
  color: rgb(92, 84, 55);
}

.bcg_image {
  height: 650px;
  width: 660px;
  background-image: url(https://images.pexels.com/photos/8671166/pexels-photo-8671166.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load);
  position: absolute;
  left: 650px;
  bottom: 0px;
  background-size: cover;
  background-position: center;
}
